@import "tailwindcss";
@theme {
  --color-lastprice-equal: rgba(134, 152, 170, 0.12);
  --color-lastprice-up: rgba(16, 186, 104, 0.12);
  --color-lastprice-down: rgba(255, 90, 90, 0.12);
  --color-quote-bid-hover: rgba(255, 90, 90, 0.12);
  --color-quote-ask-hover: rgba(16, 186, 104, 0.12);
  --color-animate-green: rgba(0, 177, 93, 0.5);
  --color-animate-red: rgba(255, 91, 90, 0.5);
  --color-accumulative-green: rgba(16, 186, 104, 0.12);
  --color-accumulative-red: rgba(255, 90, 90, 0.12);
  --animate-bg-amine-green: bg-amine-green 1s ease-in-out infinite;
  @keyframes bg-amine-green {
    0%,
    100% {
      background: rgba(0, 177, 93, 0);
    }
    50% {
      background: rgba(0, 177, 93, 0.5);
    }
  }

  --animate-bg-amine-red: bg-amine-red 1s ease-in-out infinite;
  @keyframes bg-amine-red {
    0%,
    100% {
      background: rgba(255, 91, 90, 0);
    }
    50% {
      background: rgba(255, 91, 90, 0.5);
    }
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
